**/__pycache__/
**/*.egg-info

**/flagged/
**/.gradio/


extra_packages/upjab_gradio/upjab_gradio/learn/**/*.png
extra_packages/upjab_gradio/upjab_gradio/learn/**/*.webp

extra_packages/upjab_FirstPackage_OnlyPythonFile